.h1 {
    font-size: $h1;
    font-family: $primary-font;
  }
  
  .h2 {
    font-size: $h2;
  }
  
  .h3 {
    font-size: $h3;
  }
  
  .h4 {
    font-size: $h4;
  }
  
  .h5 {
    font-size: $h5;
    font-family: $secondary-font;
    font-weight: 200;
  }
  
  .one-font-size {
    font-size: $one-font-size;
  }

  .bold {
    font-weight: $weight-lg;
  }

  .no-font-weight {
    font-weight: 100;
  }
  
  .paragraph {
    font-size: $paragraph;
  }
  
  .font-sm{
    @include breakpoint-down(small) {
      font-size: $paragraph;
    }
    
  }